{% if local_tasks_primary %}
  {% set classes = [
    'menu',
    'menu--local-tasks'
  ] %}

  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul{{ attributes.addClass(classes) }}>{{ local_tasks_primary }}</ul>
{% endif %}

{% if local_tasks_secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul{{ attributes }}>{{ local_tasks_secondary }}</ul>
{% endif %}
