{# NOTE: This file is for Storybook display purposes only. #}

<div {{ attributes.addClass(['layout', 'layout--one-column']) }}>
  <div class="layout__content">
    {% if paragraph_layout_header %}
      <div class="layout__header">
        {{ paragraph_layout_header }}
      </div>
    {% endif %}

    <div class="layout__regions">
      <div class="layout__region layout__region--first layout__region--gap-sm">
        {% for item in paragraph_layout_region_first %}
          <div class="layout__region-item">{{ item }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
