{{ attach_library('s360_base_theme/menu.local-tasks') }}

{% include "@ui-navigation/local-tasks/component/local-tasks.twig" with {
  local_tasks_primary: primary,
  local_tasks_secondary: secondary,
} %}
