{{ attach_library('s360_base_theme/paragraph.view-block') }}

{% include "@ui-paragraph/view-block/component/paragraph.view-block.twig" with {
  paragraph_field_header: (content.field_header.0) ? content.field_header : '',
  paragraph_field_view: (content.field_view.0) ? content.field_view : '',

  paragraph_tag: (content.field_header.0) ? 'section' : 'div'
} %}
