{{ attach_library('s360_base_theme/paragraph.image') }}

{% include "@ui-paragraph/image/component/paragraph.image.twig" with {
  paragraph_field_erm_image: (content.field_erm_image.0) ? content.field_erm_image : '',
} %}
