{#
/**
 * @file
 * Default implementation for Font Awesome icons.
 *
 * Available variables:
 * - icons: a list of Font Awesome icons to be rendered.
 * - layers: flag indicating if icons are printing as layers.
 *
 * @ingroup themeable
 */
#}
{% if layers == '1' %}
  <span class="fa-layers fa-fw">{{ icons }}</span>
{% else %}
  {{ icons }}
{% endif %}
