{{ attach_library('s360_base_theme/paragraph.placeholder') }}

{% include "@ui-paragraph/placeholder/component/paragraph.placeholder.twig" with {
  paragraph_field_title: (content.field_title.0) ? content.field_title : '',
  paragraph_field_body: (content.field_body.0) ? content.field_body : '',
} %}
