{{ attach_library('s360_base_theme/media.remote-video') }}

{% include "@ui-media/remote-video/component/media.remote-video.twig" with {
  media_field_media_oembed_video: (content.field_media_oembed_video.0) ? content.field_media_oembed_video : '',
} %}
