{{ attach_library('s360_base_theme/paragraph.webform') }}

{% include "@ui-paragraph/webform/component/paragraph.webform.twig" with {
  paragraph_field_header: (content.field_header.0) ? content.field_header : '',
  paragraph_field_webform: (content.field_webform.0) ? content.field_webform : '',

  paragraph_tag: (content.field_header.0) ? 'section' : 'div'
} %}
