@use "@s360-base-theme/ui-core/site-config";
@use "@s360-base-theme/ui-core/mq";
@use "s360-scss-toolkit";

.view--display-grid {
  > .view__content > .view__rows {
    display: grid;
    grid-template-columns: repeat(var(--view-grid--view-rows--gtc, 1), 1fr);
    column-gap: site-config.$column-gap;
    row-gap: var(--view-grid--view-rows--row-gap, #{ site-config.$spacer-0 });
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: mq.$mq-768) {
    &.view--2-columns,
    &.view--3-columns,
    &.view--4-columns {
      --view-grid--view-rows--gtc: 2;
    }
  }

  @media (min-width: mq.$mq-1024) {
    &.view--3-columns {
      --view-grid--view-rows--gtc: 3;
    }

    &.view--4-columns {
      --view-grid--view-rows--gtc: 4;
    }
  }
}
