<table>
  <thead>
    <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Row 1</td>
      <td>Consectetur Vulputate Elit</td>
      <td>Row 3</td>
    </tr>
    <tr>
      <td>Row 2</td>
      <td>Lorem, ipsum.</td>
      <td>Lorem, ipsum dolor.</td>
    </tr>
    <tr>
      <td>Row 3</td>
      <td>Lorem ipsum dolor sit amet.</td>
      <td>Lorem, ipsum dolor.</td>
    </tr>
  </tbody>
</table>
