{% set classes = [
  'media',
  'media--document',
] %}
{% set attributes = attributes|default(create_attribute({})) %}
{% set attributes = attributes.setAttribute('class', classes) %}
{% set attributes = attributes.setAttribute('data-js', 'media-document') %}

{% extends "@ui-media/media.html.twig" %}

{% block media_content %}
  {{ media_field_media_document }}
{% endblock %}
