{# NOTE: This file is for Storybook display purposes only. #}

<div{{ attributes.addClass(['layout', 'layout--three-column']) }}>
  <div class="layout__content">
    {% if paragraph_layout_header %}
      <div class="layout__header">
        {{ paragraph_layout_header }}
      </div>
    {% endif %}

    <div class="layout__regions">
      <div class="layout__region layout__region--first layout__region--gap-sm">
        {{ paragraph_layout_region_first }}
      </div>

      <div class="layout__region layout__region--second layout__region--gap-sm">
        {{ paragraph_layout_region_second }}
      </div>

      <div class="layout__region layout__region--third layout__region--gap-sm">
        {{ paragraph_layout_region_third }}
      </div>
    </div>
  </div>
</div>
