{% set classes = [
  'video',
] %}
{% set attributes = attributes|default(create_attribute({})) %}
{% set attributes = attributes.setAttribute('class', classes) %}
{% set attributes = attributes.setAttribute('data-js', 'video') %}

{% extends "@ui-paragraph/paragraph.html.twig" %}

{% block paragraph_content %}
  {{ paragraph_field_header }}

  {% if paragraph_field_erm_video %}
    <div class="video__wrapper">
      {{ paragraph_field_erm_video }}
    </div>
  {% endif %}
{% endblock %}
