{#
/**
 * Available Variables:
 * - documents: An array of rendered documents.
 *
 * @see s360_base_theme_preprocess_paragraph__document_list()
 */
#}
{{ attach_library('s360_base_theme/paragraph.document-list') }}

{% include "@ui-paragraph/document-list/component/paragraph.document-list.twig" with {
  paragraph_field_header: (content.field_header.0) ? content.field_header : '',

  paragraph_documents: documents,
  paragraph_tag: (content.field_header.0) ? 'section' : 'div'
} %}
