import {{ storybookComponentName }}Twig from './{{ componentFilename }}.twig';
import {{ storybookComponentName }}Data from './{{ componentFilename }}.yml';
import './{{ componentFilename }}.js';

/**
 * Storybook Definition.
 */
export default { title: '{{ storybookTitle }}' };

export const {{ storybookFunctionName }} = ({}) => {
  return {{ storybookComponentName }}Twig({
    ...{{ storybookComponentName }}Data
  });
}
