{{ attach_library('s360_base_theme/paragraph.video') }}

{% include "@ui-paragraph/video/component/paragraph.video.twig" with {
  paragraph_field_header: (content.field_header.0) ? content.field_header : '',
  paragraph_field_erm_video: (content.field_erm_video.0) ? content.field_erm_video : '',

  paragraph_tag: (content.field_header.0) ? 'section' : 'div'
} %}
