{{ attach_library('s360_base_theme/media.image') }}

{% include "@ui-media/image/component/media.image.twig" with {
  media_field_media_image: (content.field_media_image.0) ? content.field_media_image : '',
} %}
