{% if view_title %}
  <h2 class="view__heading">{{ view_title }}</h2>
{% endif %}

{% for row in view_rows %}
  {% set row_attributes = row.attributes|default(create_attribute({})) %}
  {% set row_attributes = row_attributes.addClass('view__row view__row--' ~ loop.index) %}

  <div{{ row_attributes }}>
    {{- row.content -}}
  </div>
{% endfor %}
