{% if label_hidden %}
  {{ attach_library('s360_base_theme/field.ckeditor') }}

  {% include "@ui-field/ckeditor/component/field.ckeditor.twig" with {
    field_items: items
  } %}

{% else %}
  {{ attach_library('s360_base_theme/field.field') }}

  {% include "@ui-field/field/component/field.field.twig" with {
    field_items: items
  } %}
{% endif %}
