<!-- import fontawesome v6 -->
<script src="all.min.js"></script>

<!-- add class to match Drupal -->
<style>
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

body {
  container-type: inline-size;
}
</style>
