{% if label_hidden %}
  {% for item in items %}
    {{- item.content -}}
  {% endfor %}

{% else %}
  {{ attach_library('s360_base_theme/field.field') }}

  {% include "@ui-field/field/component/field.field.twig" with {
    field_items: items
  } %}
{% endif %}
