{% include "@ui-site-layout/component/site-header/site-header.twig" with {
  site_header_main_menu: drupal_block('system_menu_block:main', {
    label: 'Main Menu'|t,
    id: 'main-menu',
    label_display: false,
    level: 1,
    depth: 2,
    expand_all_items: true
  }),
  site_header_branding_block: drupal_block('system_branding_block'),
} %}

{% include "@ui-site-layout/component/site-main/site-main.twig" with {
  site_main_page_system: page.system,
  site_main_page_content: page.content,
} %}

{% include "@ui-site-layout/component/site-footer/site-footer.twig" with {
  site_footer_social_menu: drupal_block('system_menu_block:social', {
    label: 'Social Menu'|t,
    id: 'social',
    label_display: false
  }),
  site_footer_footer_menu: drupal_block('system_menu_block:footer', {
    label: 'Footer Menu'|t,
    id: 'footer',
    label_display: false,
    level: 1,
    expand_all_items: true
  }),
} %}
