@use "@s360-base-theme/ui-core/colors";

input[type="checkbox"] {
  appearance: none;
  border: 1px solid currentColor;
  cursor: pointer;
  width: 1em;
  height: 1em;
  transform: translateY(-0.075em);
  display: inline-grid;
  place-content: center;
  outline: 0;

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em currentColor;
  }

  &:checked::before {
    transform: scale(1);
  }

  + label {
    margin-left: 0.25em;
  }
}
