@use "@s360-base-theme/ui-core/colors";

input[type="radio"] {
  appearance: none;
  border: 1px solid currentColor;
  cursor: pointer;
  width: 1em;
  height: 1em;
  transform: translateY(-0.075em);
  display: inline-grid;
  place-content: center;
  border-radius: 50%;
  outline: 0;

  &::before {
    border-radius: 50%;
    content: "";
    width: 0.60em;
    height: 0.60em;
    transform: scale(0);
    transform-origin: center;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em currentColor;
  }

  &:checked::before {
    transform: scale(1);
  }

  + label {
    margin-left: 0.25em;
  }
}
