{{ attach_library('s360_base_theme/media.document') }}

{% include "@ui-media/document/component/media.document.twig" with {
  media_field_media_document: (content.field_media_document.0) ? content.field_media_document : ''
} %}
